h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

.arrow-up {
    font-size: 50px;

}

.card-img-top {
    object-fit: cover;
}


.col-md-4 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width:768px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 50%;
    }
}


@media (min-width:1024px) {
    .col-md-4 {
        flex: 0 0 auto;
        width: 33.3333%;
    }

}


